.visibleCat1{
  z-index: -1;
  transform: rotate(-60deg);
  position: absolute;
  left: -90px;
  width: 120px;
}

.hiddenCat1 {
  display: none;
}

.visibleCat2{
  z-index: -1;
  position: absolute;
  left: -10px;
  width: 210px;
  top: -149px;
}

.hiddenCat2{
  display: none;
}

.visibleCat3{
  z-index: -1;
  position: absolute;
  left: 120px;
  width: 170px;
  top: -139px;
}

.hiddenCat3{
  display: none;
}

.visibleCat4{
  transform: rotate(10deg);
  z-index: -1;
  position: absolute;
  left: 120px;
  width: 260px;
  top: -155px;
}

.hiddenCat4{
  display: none;
}

.visibleCat5{
  z-index: 1;
  position: absolute;
  left: 234px;
  width: 271px;
  top: -49px;
}

.hiddenCat5{
  display: none;
}

.visibleCat6{
  z-index: -1;
  transform: rotate(180deg);
  position: absolute;
  left: 140px;
  width: 230px;
  top: 213px;
}

.hiddenCat6{
  display: none;
}

.visibleCat7{
  z-index: -1;
  transform: rotate(180deg);
  position: absolute;
  left: 269px;
  width: 230px;
  top: 233px;
}

.hiddenCat7{
  display: none;
}

.visibleCat8{
  z-index: -1;
  position: absolute;
  left: 210px;
  width: 230px;
  top: -217px;
}

.hiddenCat8{
  display: none;
}


.visibleCat9{
  z-index: 0;
  position: absolute;
  left: 575px;
  width: 175px;
  top: 74px;
}

.hiddenCat9{
  display: none;
}

.visibleCat10{
  z-index: -1;
  transform: rotate(180deg);
  position: absolute;
  left: 466px;
  width: 270px;
  top: 214px;
}

.hiddenCat10{
  display: none;
}

.visibleCat11{
  z-index: -1;
  transform: rotate(10deg);
  position: absolute;
  left: 530px;
  width: 230px;
  top: -197px;
}

.hiddenCat11{
  display: none;
}

.visibleCat12{
  z-index: -1;
  transform: rotate(90deg);
  position: absolute;
  left: 700px;
  width: 260px;
  top: 23px;
}

.hiddenCat12{
  display: none;
}

