.piano {
  display: flex;
  flex-direction: row;
  position: relative;
}

.test {
  color: red;
}

.cat {
  display: flex;
}
.hidden {
  display: none;
}

.active:focus{
  color: red;
}