/* .wrapper{
  z-index:1;
  position: relative;
} */

.wrapper{
  z-index:1;
  position: relative;
}

.key {
  background-color: white;
  height: 300px;
  width: 60px;
  border: 2px solid #474747;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.keyText{
  position: absolute;
  color:#474747;
  font-weight: 600;
  font-size: 30px;
  padding-top:240px;
  pointer-events: none;
}

.blackButton {
  width: 40px;
  height: 130px;
  background: black;
  border: solid black 1px;
  position: absolute;
  margin: 1px;
  margin-left: -20px;
}
.blackButton:active {
  background: #333;
}
.whiteButton {
  width: 60px;
  height: 200px;
  background: white;
  border: solid black 1px;
  box-shadow: 2px 5px;
  margin: 1px;
  box-sizing: border-box;
}

.whiteButton:active {
  background-image: url('../../assets/cat.png');
  background-size: 100%;
  background-position: center;
}

.whiteButton:focus {
  background-image: url('../../assets/cat.png');
  background-size: 100%;
  background-position: center;
}


.textDown {
  display: flex;
  justify-content: center;
  padding-top: 160px;
}

.textUp {
  color: white;
  padding-top: 90px;
}

.visible{
  z-index: -1;
  transform: rotate(-45deg);
  position: absolute;
  left: -80px;
  width: 120px;
}


.hidden {
  display: none;
}

.visibleCat2{
  z-index: -1;
  position: absolute;
  left: -10px;
  width: 170px;
  top: -109px;
}

.hiddenCat2{
  display: none;
}

.visibleCat3{
  z-index: -1;
  position: absolute;
  left: 120px;
  width: 150px;
  top: -109px;
}

.hiddenCat3{
  display: none;
}

.visibleCat4{
  z-index: 0;
  position: absolute;
  left: 120px;
  width: 100px;
  top: 481px;
}

.hiddenCat4{
  display: none;
}

.visibleCat5{
  z-index: 0;
  position: absolute;
  left: 120px;
  width: 100px;
  top: 481px;
}

.hiddenCat5{
  display: none;
}

.visibleCat6{
  z-index: 0;
  position: absolute;
  left: 120px;
  width: 100px;
  top: 481px;
}

.hiddenCat6{
  display: none;
}

